# ignore everything
*

# except these files
!.gitignore
!/.vscode/
!/.vscode/c_cpp_properties.json
!.CmakePresets.json
!.CMakeLists.txt
!/Capital/
!/Capital/**
!/Parity/
!/Parity/**
!/Sandcastle/
!/Sandcastle/**